{% extends "bank/base.html" %}

{% block content %}
<h1>Hello {{ object.name }}!</h1>

<p>Your account ID is <b>{{ object.account.id }}</b>. Your balance is <b>{{ object.account.balance }}</b>.</p>
{% endblock %}
